[Unit]
Description=CertProxy Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/certproxy --config /etc/certproxy/config.yml
StandardOutput=null
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
